<header>
  <a routerLink="extrato"> Bytebank <img src="https://i.pinimg.com/originals/d6/3f/5d/d63f5d0fab77dc1c345344cc0610fd2f.png" width="10px"/></a>
  <a routerLink="nova-transferencia" routerLinkActive="ativo"> Nova transferência </a>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <a href="www.github.com/geovanaolis"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="50px"/></a>
  <a href="https://www.linkedin.com/in/geovanaoliveria/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="50px"/></a>
</footer>
